header nav {
    display: flex;
    justify-content: flex-end;
}

.about-menu {
    
    position: relative;
}
.about-menu ul {
    display:none;
    position: absolute;
    padding-left:0;
    left:0;
    background:orange;
    margin-top:10px;
    li {
        max-width:200px;
        padding:15px;
    }
}
.about-menu:hover > ul {
    display:block;
}
.main-nav {
    list-style-type: none;
    padding:0;
    li {
        display: inline-block;
        padding: 15px;

    }
    a {
        color: white;
        text-transform: uppercase;
        font-family: $montserrat;
        text-decoration: none;
        border-bottom: 2px solid white;
        &:hover {
            border-bottom:5px double white;
        }
    }
}

header {
    background:$mainGreen;
}
.hero {
    padding-bottom:25px;
    h1 {
        text-align: center;
        font-size: 48px;
    }
    p {
        padding: 10px 0;
    }
    a {
        display:inline-block;
        text-decoration: none;
        border: 2px solid black;
        padding: 15px 25px;
        color:black;
        transition: all 0.3s ease;
        background:white;
        &:hover {
            background:rgba(255,255,255, 0.5);
        }
    }
}

.introduction {
    font-family: $montserrat;
    margin-top: 100px;
    border-bottom: 1px solid $mainGreen;
    text-align: center;
    font-size: 18px;
    strong {
        font-weight: 300;
    }
}
.donate a {
    color:black;
    border:2px solid black;
    padding:15px 30px;
    display: inline-block;
    margin-bottom:50px;
    border-radius: 10px;
    transition:all ease-in-out 0.2s;
    &:hover {
        background:$mainGreen;
    }
}
.location {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    font-family: $montserrat;
    h3 {
        text-transform: uppercase;
    }
    ul {
        list-style-type: none;
        padding:0;
    }
    li {
        line-height: 28px;
    }
}
.location-map {
    max-width:500px;
    width:100%;
}
